<ion-view title="Assajos" id="page2" class=" ">
    <ion-content padding="true" class="has-header">
        <div class="list card " id="assajos-card3">
            <div class="item item-divider">Card Assaig</div>
            <div class="item item-body">
                <div>
                    <p>
                        Description
                    </p>
                </div>
                <div id="assajos-button-bar1" class=" button-bar ">
                    <a href="tel:" id="assajos-button1" style="color:#36D123;" class=" button button-stable  button-block icon ion-android-done "></a>
                    <button id="assajos-button2" style="color:#F81107;" class=" button button-stable  button-block icon ion-android-close "></button>
                </div>
            </div>
        </div>
        <div class="list card " id="assajos-card4">
            <div class="item item-divider">Card Assaig</div>
            <div class="item item-body">
                <div>
                    <p>
                        Description
                    </p>
                </div>
                <div id="assajos-button-bar2" class=" button-bar ">
                    <a href="tel:" id="assajos-button4" style="color:#36D123;" class=" button button-stable  button-block icon ion-android-done "></a>
                    <button id="assajos-button5" style="color:#F81107;" class=" button button-stable  button-block icon ion-android-close "></button>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>