<ion-view title="Assaig detail" id="page3" class=" ">
    <ion-content padding="true" class="has-header">
        <h1 id="assaigDetail-heading2" style="color:#000000;" class=" ">Heading</h1>
        <p id="assaigDetail-markdown1" style="color:#000000;" class=" ">Some friendly
            <strong>markdown</strong>
        </p>
        <div style="margin: 0px; line-height: 250px; text-align: center; background-color: rgb(232, 235, 239);">
            <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
        </div>
        <div id="assaigDetail-button-bar4" class=" button-bar ">
            <a href="tel:" id="assaigDetail-button9" style="color:#36D123;" class=" button button-stable  button-block icon ion-android-done "></a>
            <button id="assaigDetail-button10" style="color:#F81107;" class=" button button-stable  button-block icon ion-android-close "></button>
        </div>
    </ion-content>
</ion-view>